.skyline {
    background-color: hsl(221, 100%, 50%);
    background-image: url("/static/skyline.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}
